name: Linters
on: [workflow_call]
permissions: {}

jobs:
  rustfmt:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - name: Install rustfmt
      run: rustup component add rustfmt
    - name: Run rustfmt
      run: cargo fmt -- --check --color always

  check:
    strategy:
      matrix:
        include:
        - os: ubuntu-24.04
          packages: ""
        - os: macos-14
          packages: ""
        - os: windows-2022
          packages: "-p neptun"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - name: Install hack
      run: cargo +stable install --git https://github.com/taiki-e/cargo-hack.git cargo-hack --rev c0b517b9eefa27cdaf27cca5f1b186c00ef1af47 --locked
    - run: cargo hack check --each-feature ${{ matrix.packages }}

  clippy:
    strategy:
      matrix:
        include:
        - os: ubuntu-24.04
          packages: ""
        - os: macos-14
          packages: ""
        - os: windows-2022
          packages: -p neptun
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
      with:
        just-version: '1.38.0'
    - run: just clippy

  udeps:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
      with:
        toolchain: nightly-2025-04-06
        override: true
    - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
      with:
        just-version: '1.38.0'
    - run: just udeps

  deny:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - uses: extractions/setup-just@dd310ad5a97d8e7b41793f8ef055398d51ad4de6 # v2.0.0
        with:
          just-version: '1.38.0'
      - run: just deny

